<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Cadastro de Corte</title>
  </head>
  <body>
    <!-- conteudo principal -->
    <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="w-full">
      <div class="m-10">
        <h1 class="text-3xl">Cadastro de Corte</h1>
        <!-- Formulario -->
        <form th:hx-post="@{/cortes/nova}" hx-target="#main" hx-swap="outerHTML" th:object="${corte}">
          <div th:replace="~{layout/fragments/forms::inputtext ('Cliente', 'cliente')}">...</div>
          <div th:replace="~{layout/fragments/forms::inputtext ('Barbeador', 'barbeador')}">...</div>
          <div class="flex justify-between">
            <div class="w-1/2">
              <label for="data" class="block text-gray-700 font-medium mb-2 mt-5">Data do Corte</label>
              <input type="date" id="data" name="data" class="w-full py-3 px-4 text-gray-500 border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none" />
            </div>
            <div class="w-1/2">
              <label for="hora" class="block text-gray-700 font-medium mb-2 mt-5">Horario</label>
              <input type="time" id="hora" name="hora" class="w-full py-3 px-4 text-gray-500 border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none" />
            </div>
          </div>
          <br />
          <button type="submit" class="py-3 px-4 inline-flex items-center mt-5 gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Cadastrar</button>
        </form>
        <div th:if="${notificacao != null}" th:object="${notificacao}">
          <input type="hidden" id="mensagem" th:value="*{mensagem}">
          <input type="hidden" id="tipo" th:value="*{tipo}">
          <input type="hidden" id="intervalo" th:value="*{intervalo}">
        </div>
      </div>
    </main>
    <!-- !conteudo principal -->
  </body>
</html>
